// Mixins Here
.img-head{
    border-radius: 10px;
}
.clean-link{
    text-decoration: none;
    font-size: @nav-font-a;
}
.btn-align{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.darker-btn{
    background-color: darken(black,10%)
}

.nav-links(@fontcolor,@fontsize,@decor){
    color: @fontcolor;
    font-size: @fontsize;
    text-decoration: @decor;
}
 
.images-layout(@flex-w, @width-i){
    display: flex;
    justify-content: space-around;
    flex-wrap:@flex-w;
    width:@width-i;
}
@keyframes slideUp{
    from{ bottom: -100%;}
    to{ top: -100%;}
}